<div class="main">
  <div class="container">
    This is our container.  There are many like it but this one is ours.
  </div>
  <div id="correct"></div>
  <div id="tally"></div>
</div>

<div id="templates">

  <div id="quizzes" class="quiz">
  </div>

  <div id="question">
  </div>

  <h3 id="title">
  </h3>

  <h4 id="question-title">
  </h4>

  <div class="choice">
  </div>

  <a id="link" href="#">
  </a>
</div>